.wp_orcid_comment {
	background-image: url('orcid.png');
	background-repeat: no-repeat;
	background-position: 0 3px;
	padding-left: 14px;
	font-size: 0.75em;
}

.wp_orcid_post {
	background-image: url('orcid.png');
	background-repeat: no-repeat;
	background-position: 0 3px;
	padding-left: 14px;
	font-size: 0.75em;
}
