.wp_orcid_field {
	background-image: url('orcid.png');
	background-repeat: no-repeat;
	background-position: 0 3px;
	padding-left: 14px;
	font-size: 0.75em;
	padding-bottom: 5px;
}

#orcid-success, #orcid-failure {
	display: none;
}

.form-table td:first-child {
	text-align: right;
	vertical-align: top;
	font-weight: bold;
}

